PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

POLAR_ACCESS_TOKEN=
POLAR_SOLO_PRODUCT_ID_T1=
POLAR_SOLO_PRODUCT_ID_T2=
POLAR_SOLO_PRODUCT_ID_T3=
POLAR_PRO_PRODUCT_ID_T1=
POLAR_PRO_PRODUCT_ID_T2=
POLAR_PRO_PRODUCT_ID_T3=
POLAR_WEBHOOK_SECRET=
POLAR_SUCCESS_URL=
POLAR_ORGANIZATION_ID=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
